.letter {
  width: 475px;
  height: 380px;
  color: #000000;
  font-family: Inter, serif;
  font-size: 13px;
  line-height: 1.22;
  font-weight: 400;
  border-radius: 8px;
  overflow: hidden;
  transition: opacity 300ms ease-in-out;
}

.letter__text {
  padding: 56px 40px 48px;
}

.letter__text p {
  padding-right: 57px;
  margin-bottom: 20px;
}

.letter__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.letter.is-closed {
  pointer-events: none !important;
  opacity: 0;
}

.letter h1 {
  margin-top: 0;
  font-family: Chonburi, sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 32px;
}

.letter:after {
  position: absolute;
  content: '';
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .9;
  mix-blend-mode: multiply;
  background: rgb(255,215,188);
  background: linear-gradient(149deg, rgb(196, 162, 140) 0%, rgb(239, 224, 206) 50%, rgb(118, 158, 183) 100%);
  pointer-events: none;
}